- title t('title')
%h1
  Hashtag Battle
%ul.list-inline.lead
  %li
    = link_to "Start a new battle", new_battle_path

%table.table.table-striped
  %thead
    %th Battle Name
    %th{:colspan=>"2"} Hashtag One
    %th{:colspan=>"2"} Hashtag Two
    %th{:colspan=>"2"} Status
  %tbody
    - @battles.each do |battle|
      %tr
        %td
          = battle.name
        - battle.hashtags.each do |h|
          %td
            = h.name
          %td
            = battle.hashtag_count(h)
        %td
          - if battle.active?
            %span.label.label-success
              In Progress
          - else
            %span.label.label-default
              Stopped
        %td
          - unless !battle.active?
            = link_to battle, method: :delete, data: {confirm: 'Are you sure?'} do
              %span.label.label-danger
                End Battle
